@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600&display=swap");

:root {
  --background: #524330;
  font-family: "Signika", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--background);
}

.board-full {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
